---
layout: default
---

<div class="container">

  {% bookshop page-heading title=page.title description=page.subtitle class="project-heading" %}

  <p align="center">
    <a href="https://github.com/cadedupont/{{ page.name | remove: '.md' }}" class="cta-button c-button c-button--primary c-button--small" target="_blank">View on GitHub</a>
    <a style="margin: 20px 0 auto;" class="works-button c-button c-button--secondary c-button--small" href="https://github.com/cadedupont/{{ page.name | remove: '.md' }}/zipball/main">
      <span class="circle-bg"><i class="ion ion-md-arrow-down button-arrow"></i></span> Download ZIP
    </a>
  </p>

  <div class="page animate">
    {{ content }}
  </div>

  {% if page.previous.url %}
  <div class="project__navigation animate">
    <a class="project__prev" href="{{page.previous.url}}">
      <div class="project__box">
        <span class="project__nav__info">Next Project</span>
        <h2 class="project__nav__title">{{page.previous.title}}<i class="ion ion-md-arrow-round-forward arrow-right"></i></h2>
      </div>
    </a>
  </div>
  {% endif %}

</div>