.page {
  max-width: 1180px;
  margin: 0 auto 60px;

  a {
    font-weight: 500;
    color: $link-color;

    &:hover {
      color: $link-color-hover;
    }
  }

  span.contact-info {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  @media only screen and (max-width: $desktop) {
    span.date {
      display: block;
      clear: both;
    }

    span.contact-info {
      flex-direction: column;
    }
  }

  @media only screen and (min-width: $desktop) {
    span.date {
      float: right;
    }

    strong.title {
      float: left;
    }

    span.contact-info {
      flex-direction: row;

      .info-item::after {
        content: " | ";
        margin: 0 5px;
      }

      .info-item:last-child::after {
        content: "";
      }
    }
  }
}